html,
body,
.head {
	margin: 0;
	height: 100%; /* 使背景图片高度自适应 */
	width: 100%;
}

.background {
	background: url(../img/bg_2.jpg) no-repeat;
	background-size: cover;
	float: left;
	height: 100%;
	width: 100%;
}

.float-div {
	background: #000000;
	height: 100%;
	opacity: 0.7; /* 背景透明 */
	width: 100%;
	float: left;
	position: absolute; /* 与.background重合 */
}

.top {
	width: 100%;
	position: absolute;
	color: #ffffff;
	height: 70px;
	position: fixed;
}

#login {
	position: absolute;
	top: 20px;
	right: 30px;
	color: #ffffff;
	font-size: 20px;
	font-weight: lighter;
}

#login a:link,
#login a:visited {
	color: #ffffff;
}

#login-underline {
	margin-top: 4px;
	height: 3px;
	width: 0;
	background: #D6AE8B;
	position: absolute;
}

.slogan {
	margin-top: 15%;
	width: 100%;
	position: absolute;
	height: 100px;
	text-align: center;
}

#slogan-1 {
	color: #ffffff;
	font-size: 80px;
	font-family: Courier;
}

#slogan-2 {
	color: #D6AE8B;
	font-size: 80px;
	font-family: Courier;
	margin: 10px;
}

#slogan-3 {
	color: #ffffff;
	font-size: 30px;
	font-family: Courier;
	margin: 20px;
}

.pic {
	display: none;
	width: 100%;
	margin-top: 2%;
	position: absolute;
	text-align: center;
}

#q {
	position: absolute;
	z-index: 9999;
	right: 16px;
	bottom: 0;
}

.article-container {
	width: 100%;
	height: 300px;
	background: #fff;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-webkit-box-shadow:0 0 0 #000, /*左边阴影 未设置*/  
    2px 2px 8px #BDBDBD, /*右边阴影*/  
    0 0 0 #000, /*顶部阴影 未设置*/  
    0 0 0 #000; /*底边阴影 未设置*/
	-moz-box-shadow:0 0 0 #000, /*左边阴影 未设置*/  
    2px 2px 8px #BDBDBD, /*右边阴影*/  
    0 0 0 #000, /*顶部阴影 未设置*/  
    0 0 0 #000; /*底边阴影 未设置*/
	box-shadow:0 0 0 #000, /*左边阴影 未设置*/  
    2px 2px 8px #BDBDBD, /*右边阴影*/  
    0 0 0 #000, /*顶部阴影 未设置*/  
    0 0 0 #000; /*底边阴影 未设置*/
}

.article-list {
	margin: auto;
	margin-top: 30px;
	width: 80%;
	height: 80%;
	background: red;
}