* {
	font-family: "Microsoft YaHei","Arial","黑体","宋体",sans-serif;
}

html,
body {
	margin: 0;
	width: 100%;
	background: #F7F7F7;
}

.background {
	background: url(../img/bg_1.jpg) no-repeat;
	background-size: cover;
	background-position: 0px -600px;
	float: left;
	height: 200px;
	width: 100%;
}

.float-div {
	background: #000000;
	height: 200px;
	opacity: 0.5; /* 背景透明 */
	width: 100%;
	float: left;
	position: absolute; /* 与.background重合 */
}

.container {
	margin: 0 auto;
	height: 500px;
	width: 300px;
}

.panel {
	margin-top: 8%;
	background: #ffffff;
	width: 300px;
	height: 340px;
	position: absolute;
	text-align: center;
	border-radius: 4px;
	-webkit-box-shadow:0 0 0 #000, /*左边阴影 未设置*/  
    2px 2px 8px #666, /*右边阴影*/  
    0 0 0 #000, /*顶部阴影 未设置*/  
    0 0 0 #000; /*底边阴影 未设置*/
	-moz-box-shadow:0 0 0 #000, /*左边阴影 未设置*/  
    2px 2px 8px #666, /*右边阴影*/  
    0 0 0 #000, /*顶部阴影 未设置*/  
    0 0 0 #000; /*底边阴影 未设置*/
	box-shadow:0 0 0 #000, /*左边阴影 未设置*/  
    2px 2px 8px #666, /*右边阴影*/  
    0 0 0 #000, /*顶部阴影 未设置*/  
    0 0 0 #000; /*底边阴影 未设置*/
}

#title {
	color: #606060;
	font-size: 25px;
	font-weight: lighter;
	height: 30px;
	margin-top: 20px;
}

#title span {
	margin: 10px;
}

.login,
.signup {
	margin-top: 5px;
	font-size: 15px;
}

#login-tag,
#signup-tag {
	cursor: pointer;
}

.underline {
	width: 100%;
	height: 3px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#ul-1 {
	margin-left: 85px;
	width: 53px;
	height: 3px;
	background: #D6AE8B;
	float: left;
}

#ul-2 {
	margin-left: 77px;
	width: 0;
	height: 3px;
	background: #D6AE8B;
	float: left;
}

.message {
	margin: auto;
	padding: 5px;
	width: 170px;
	height: 15px;
	line-height: 15px;
	text-align: left;
	background: #ffffff;
	color: #ffffff;
	font-size: 12px;
	border-radius: 1px;
}

.render {
	margin: auto;
	padding: 5px;
	width: 170px;
	height: 15px;
	line-height: 15px;
	text-align: left;
	background: white;
	color: red;
	font-size: 12px;
	border-radius: 1px;
}

#username,
#password,
#login-btn-div,
#signup-username,
#signup-password,
#signup-confirm,
#signup-btn-div {
	margin: auto;
	height: 40px;
	width: 180px;
}



.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"] {
	border: 0;
	outline: medium;
}

.login input[name="username"],
.login input[name="password"],
.signup input[name="signup-username"],
.signup input[name="signup-password"],
.signup input[name="signup-confirm"] {
	width: 180px;
}

#remember-me {
	text-align: left;
	margin-top: 11px;
	margin-bottom: 10px;
	margin-left: 56px;
	font-size: 12px;
	width: 180px;
}

.btn {
	width: 180px;
	height: 30px;
	margin-top: 20px;
	background: #666666;
	border: none;
	color: #ffffff;
	cursor: pointer;
	border-radius: 1px;
	outline: none;
}

.foot {
	width: 50%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	color: #C3C3C3;
}

.foot hr {
	border-top: 1px solid #C3C3C3;
}