body {
    margin: 0;
}

a:link,
a:visited {
	color: #ffffff;
}

li {
    list-style: none;
}

/* 设置锚点距页顶距离 http://stackoverflow.com/questions/4086107/html-positionfixed-page-header-and-in-page-anchors */
.jumptarget::before {
  content: "";
  display: block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}

.top {
    background: #000000;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 90px 20px 800px 20px;
}

.sidebar {
    width: 150px;
    position: fixed;
    margin-top: 90px;
    margin-left: 20px;
    text-align: left;
}

.sidebar ul {
    margin-top: 0;
    padding: 0;
    z-index: -1;
}

.sidebar li {
    padding-left: 38px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    cursor: pointer;
}

.sidebar a {
    color: #000000;
}

.sidebar a:hover {
    text-decoration: underline;
}

a:target {
    padding-top: 100px;
    background: red;
}

.nav {
	position: fixed;
}

.active {
    background: #EAEAEA;
    border-left: 3px solid #0080FF;
}

#portrait-div {
    width: 100%;
    height: 260px;
    background: url(../img/52624eca5.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

#portrait-pic {
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .5);
}

#portrait-empty {
    height: 60px;
}

#portrait-pic img {
    width: 128px;
    height: 128px;
}

#portrait-username {
    height: 50px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

#write-btn-div {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#write-btn {
    height: 35px;
    width: 90px;
    background: #0080FF;
    border-radius: 1px;
    font-size: 16px;
    text-align: right;   
}

#write-btn img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -29px;
}

#write-btn:hover {
    background: #379BFF;
}
 
#my-article,
#draft {
    height: 500px;
}