* {
	font-family: "Microsoft YaHei","Arial","黑体","宋体",sans-serif;
}

a {
	text-decoration: none;
}

body {
	/*background: #F7F7F7;*/
}

.top {
	width: 100%;
	color: #ffffff;
	height: 60px;
	position: fixed;
}

#login {
	position: absolute;
	top: 15px;
	right: 30px;
	color: #ffffff;
	font-size: 20px;
	font-weight: lighter;
}

#login a:link,
#login a:visited {
	color: #ffffff;
}

#login-underline {
	margin-top: 4px;
	height: 3px;
	width: 0;
	background: #0080FF;
	position: absolute;
}

.container {
	margin: 0 auto;
	margin-top: 30px;
	width: 60%;
}

.foot {
	width: 50%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	color: #C3C3C3;
}

.foot hr {
	border: 1px solid #C3C3C3;
}


.btn {
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 2px;
	outline: none;
}