body {
    margin: 0;
}

a:link,
a:visited {
	color: #ffffff;
}

li {
    list-style: none;
}

#portrait-div {
    padding-top: 70px;
    width: 100%;
    height: 240px;
    background: url(../img/52624eca5.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

#portrait-pic {
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .5);
    position:relative;
}

#portrait-empty {
    height: 20px;
}

/*#portrait-pic img {
    width: 128px;
    height: 128px;
}*/

#portrait-username {
    height: 50px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    width: 40%;
}

#setting {
    width: 100%;
}

.message {
    color: #ff6666;
}

/*#setting-username input,
#setting-pass input {
    border: 0;
	border-bottom: 1px solid #666666;
	height: 30px;
	outline: medium;
    width: 100%;
}

#modify {
    background: #fff;
    border: 1px solid #0080FF;
	color: #0080FF;
    height: 40px;
    width: 100px;
}

#modify:hover {
    background: #EEF7FF;
}*/

.avatar {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.setting-avatar {
    position: absolute;
    /*display: none;*/
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.setting-avatar input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.setting-avatar img {
    position: absolute;
    height: 50px;
    width: 65px;
    top: 15%;
    left: 25%;
}

.setting-avatar span {
    position:absolute;
    top:65%;
    left:25%;
    font-weight:bold;
}