#back-div {
	height: 40px;
	padding: 10px;
	position: fixed;
	top: 20px;
}

#back-div img:hover {
	/*background: #ffffff;*/
	cursor: pointer;
}

#title-div {
	height: 60px;
}

#title-div input {
	border: none;
	border-left: 4px solid #DDDDDD;
	/*background: #F7F7F7;*/
	height: 20px;
	width: 98%;
	padding: 5px;
	outline: medium;
	font-size: 23px;
}

#title-div hr {
	border: 1px solid #A9A9A9;
	width: 99%;
}

#article-tag-div {
	margin-top: 10px;
	width: 100%;
	height: 50px;
}

#article-tag-div img {
	height: 20px;
	vertical-align: bottom;
}

.tag-btn {
	background: #DDDDDD;
	font-size: 12px;
	padding: 3px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	border-radius: 1px;
	outline: none;
}

.selected {
	background: #11cd6e;
}

#submit-div {
	height: 30px;
	text-align: center;
}

#submit {
	width: 20%;
	height: 30px;
	font-size: 15px;
	background: #FFFFFF;
	color: #0080FF;
	border: 1px solid #0080FF;
}

#submit:hover {
	background: #EEF7FF;
}

.foot {
	margin-top: 100px;
}