<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">
	<link rel="stylesheet" href="../static/css/overall.css">
	<link rel="stylesheet" href="../static/css/article.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/header.js"></script>
	<script src="../static/js/article.js"></script>
</head>
<body>
	{% include 'header.html' %}

    <div class="container">
        <input id="article-id" style="display:none" value={{ article.id }}>
        <div id="title">{{article.title}}</div>
        {% if article.classification %}
            <div id="article-tag-div">
                <img src="../static/img/tag.png">
                {% for tag in article.classification %}
                    <span class="tag">{{tag}}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div id="content">
                {{article.content|safe}}
        </div>
        
        <div id="make-comment">
            <textarea rows="1" placeholder="写下你的看法"></textarea>
            <div>
                <span></span>
                <button class="btn">提交评论</button>
            </div>
        </div>    

        <div id="comment">
            <button class="btn" id="toggle-comment">
                <span>查看评论（{{ comment_count }}条）</span>
                <img class="arrow" src="../static/img/arrow-down.png">
            </button>

            <div id="comment-pool">
               
            </div>
        </div>
	
	{% include 'footer.html' %}
</body>
</html>