<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">
	<link rel="stylesheet" href="../static/css/overall.css">
	<link rel="stylesheet" href="../static/css/article.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/header.js"></script>
	<script src="../static/js/article.js"></script>
    <!--<script>
        function go(){
            var content = $("#commentArea").val()
            var csrftoken = $('meta[name=csrf-token]').attr('content')
            $.post('/article/comment',
                {
                    content : content,
                    article_id : "test",
                    is_reply : 0,
                    reply_to : "test",
                    csrf_token : csrftoken
                },
                function(data){
                    alert(data.result)
                },
                "json")
            
        }

    </script>-->
</head>
<body>
	{% include 'header.html' %}

    <div class="container">
        <input id="article-id" style="display:none" value={{ article.id }}>
        <div id="title">{{article.title}}</div>
        {% if article.classification %}
            <div id="article-tag-div">
                <img src="../static/img/tag.png">
                {% for tag in article.classification %}
                    <span class="tag">{{tag}}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div id="content">
                {{article.content|safe}}
        </div>

        
            <!--<div id="commentPool">
            {% for c in comments %}
                一级评论
                <li>
                    <div id="comment-header">{{ c.name }}</div>
                    <div id="comment-body">{{ c.comment }}</div>
                    <ul>
                        {% for r in reply%}
                        回复一级评论，二级评论
                        <li>
                            <div id="comment-header">{{ r.name }}</div>
                            <div id="comment-body">{{ r.comment }}</div>
                            <li>
                                <button id="all">查看对话</button>
                                <button id="reply">回复</button> 
                            </li>
                        </li>
                        {% endfor %}
                    </ul>
                    <li>
                        <button id="reply">回复</button> 
                    </li>
                </li>
            {% endfor %}
            </div>-->
        
        <div id="make-comment">
            <textarea rows="1" placeholder="写下你的看法"></textarea>
            <div>
                <button class="btn">提交评论</button>
            </div>
        </div>    

        <div id="comment">
            <button class="btn" id="toggle-comment">
                <span>查看评论</span>
                <img class="arrow" src="../static/img/arrow-down.png">
            </button>

            <div id="comment-pool">
                <div class="comment-header">评论人-时间-头像</div>
                <div class="comment-body">
                    <div class="comment-content" id="{{ id }}">评论内容</div>
                    <div class="comment-reply-btn">
                        <img src="../static/img/reply.png">
                    </div>
                </div>

                <div class="reply-comment">
                    <textarea rows="1" placeholder="回复： {{ author }} "></textarea>
                    <div>
                        <button class="btn" id="reply-to-{{ reply_to }}" onclick="reply(this.id)">回复</button>
                    </div>
                </div>

                <div class="comment-header">评论人-时间-头像</div>
                <div class="comment-body">
                    <div class="comment-content" id="{{ id }}">评论内容</div>
                    <div class="comment-reply-btn">
                        <img src="../static/img/reply.png">
                    </div>
                </div>

                <div class="reply-comment">
                    <textarea rows="1" placeholder="回复： {{ author }} "></textarea>
                    <div>
                        <button class="btn" id="reply-to-{{ reply_to }}" onclick="reply(this.id)">回复</button>
                    </div>
                </div>
               
            </div>
        </div>
	
	{% include 'footer.html' %}
</body>
</html>