<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../static/css/overall.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/index.js"></script>
</head>
<body>
	<div class="head">
		<div class="background">
		<p id="q"><img src="../static/img/q.png"></p>
		</div>

		<div class="float-div">
		</div>

		<div class="top-div">
			<div class="top">
				<div id="login">
					<a href="/login">登录&nbsp;/&nbsp;注册</a>
					<div id="login-underline">
					</div>
				</div>
			</div>

			<div class="slogan">
				<header id="slogan-1">I know</header>
				<p id="slogan-2">H.T.M.L</p>
				<p id="slogan-3">(How to Meet Ladies)</p>
				
			</div>

			<div class="pic">
				<img src="../static/img/iknowhtml.jpg">
			</div>
				
		</div>
	</div>

	<div class="container">
		<div class="article-container">
			<div class="article-list">
				
			</div>
		</div>
	</div>

	{% include 'footer.html' %}
</body>
</html>