<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../static/css/login.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/login.js"></script>
</head>
<body>
	<div class="head">
		<div class="background"> <!-- 背景 -->
		</div>

		<div class="float-div"> <!-- 浮动层 -->
		</div>
		
	</div>

	<div class="container">
		<div class="panel">
			<div id="title">
				<span id="login-tag" class="active">登录</span>
				<span id="signup-tag">注册</span>
			</div>

			<div class="underline"> <!-- 下划线 --> 
				<div id="ul-1"></div>
				<div id="ul-2"></div>
			</div>

			<!-- <div class="message"> 错误提示
				<span></span>
			</div> -->
			<div class="render">
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    <div>
				      {{ messages[0] }}
					</div>
				  {% endif %}
				{% endwith %}
			</div>

			<form action="/auth/signin" method="post" id="login-form">
				<div class="login"> <!-- 登录 -->
					{{ form.hidden_tag() }}
					<div id="username">
						<input type="text" name="username" placeholder="用户名">
						<hr>
					</div>
					<div id="password">
						<input type="password" name="password" placeholder="密码">
						<hr>
					</div>
					<div id="remember-me">
						<input type="checkbox" name="remember_me" value="remember-me">记住我
					</div>
					<div id="login-btn-div">
						<input class="btn" id="login-btn" type="submit" value="登　录">
					</div>
				</div> <!-- /登录 -->
			</form>

			<form action="/auth/regist" method="post" id="signup-form">
				<div class="signup" style="display: none"> <!-- 注册 -->
					{{ form.hidden_tag() }}
					<div id="signup-username">
						<input type="text" name="signup_username" placeholder="用户名">
						<hr>
					</div>
					<div id="signup-password">
						<input type="password" name="signup_password" placeholder="密码">
						<hr>
					</div>
					<div id="signup-confirm">
						<input type="password" name="signup_confirm" placeholder="确认密码">
						<hr>
					</div>
					<div id="signup-btn-div">
						<input class="btn" id="signup-btn" type="submit" value="注　册">
					</div>
				</div> <!-- /注册 -->
			</form>
			
		</div>
	</div>

	<div class="foot">
		<hr>
		&copy;2016 MW
	</div>
</body>
</html>