<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../static/css/overall.css">
	<link rel="stylesheet" href="../static/css/mainpage.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/header.js"></script>
	<script src="../static/js/mainpage.js"></script>
</head>
<body>
	{% include 'header.html' %}

	<div class="sidebar">
		<div id="sidebar-active-div"></div>
		<div id="sidebar-active-slide"></div>
		<ul onselectstart="return false;">
			<li class="sidebar-list"><a href="#write-btn-div">写文章</a></li>
			<li class="sidebar-list"><a href="#my-article">我的文章</a></li>
			<li class="sidebar-list"><a href="#draft">草稿</a></li>
		</ul>
	</div>

	<div class="container">
		<div id="portrait-div">
			<div id="portrait-empty"></div>
			<div id="portrait-pic">
				<img src="../static/img/default.png">
			</div>
			<div id="portrait-username">
				<p>{{ username }}</p>
			</div>
		</div>

		<div id="write-btn-div">
			<a href="/write">
			<button class="btn" id="write-btn">
				<img src="../static/img/write-btn.png">
				写文章
			</button>
			</a>
		</div>
		<hr>
		<div id="my-article">
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
			<p>我的文章</p>
		</div>
		<hr>
		<div id="draft">
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
			<p>草稿</p>
		</div>
	</div>
	
	{% include 'footer.html' %}
</body>
</html>